bytecode==0.15.1
contourpy==1.1.1
cycler==0.12.1
debugpy==1.8.3
einops==0.8.0
imageio==2.35.1
jinja2==3.1.4
joblib==1.4.2
matplotlib==3.7.5
numpy==1.24.3
pillow==10.4.0
protobuf==5.27.3
pyparsing==3.1.2
pytorch==2.0.0
pytorch-cuda==11.8
requests==2.32.3
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
sympy==1.12
tensorboardx==2.6.2.2
torchaudio==2.0.0
torchtriton==2.0.0
torchvision==0.15.0
tqdm==4.66.4
